<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %} - FlaskApp</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">



    </head>

    <body>
        <nav>
            <a href="{{ url_for('index') }}">FlaskApp</a>
            <a href="https://en.wikipedia.org/wiki/Bellman%E2%80%93Ford_algorithm">About</a>
        </nav>
        <hr>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>

</html>